.report-card {
   width: 300px;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-weight: 600;
    border-radius: 20px;
}
.report-container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: auto;
  padding: 30px;
}

.pass {
  background-color: pink;
  color: red
}

.execellent {
  background-color: orange;
  color: white;
}

.veryGood {
  background-color: green;
  color: white;
}

.good {
    background-color: blue;
    color: white;
}

.failed {
  background-color: black;
  color: white;
}